# Data Science Tools - Jupyter Notebook

###### This notebook is to demontrate the jupyter notebook features & functionalities

Data Science Languages:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Javascript
7. Java
8. C++

Data Science Libraries:
1. keras
2. TensorFlow
3. Pandas
4. NumPy
5. Scikit-learn
6. PyTorch

Data Science Tools:

| Tool           | Description                                        |
|----------------|----------------------------------------------------|
| Python        | Widely used programming language for data science          |
| RStudio        | Integrated development environment for R           |
| Jupyter Notebook | Interactive development environment which works in browsers |
| PyCharm        |  IDE for Python          |
| Tableau        | Data visualization Software          |

### Below are few examples of arithmetic expression in python

In [4]:
# Example of arithmetic operation
a = 3
b = 4
c = 5
operation = (a * b) + c
operation

17

In [3]:
# This code converts hours to minutes by dividing it by 60
minutes = 120
hours = minutes / 60
hours

2.0

Objectives:
- Explore jupyter notebook features
- Apply the concepts in practice
- Create markdowns & small code snippets to test the features
- Share the created notebook with GIT

## Authors
Shubham Chavan